.esp {
    padding: 10px;
}
.esp-grande {
    font-size: 30px;
}
/*Q&A*/
.espacio {
    line-height: 25px;
    margin: 20px; }
.espacio3 {
    display: inline;
    border-radius: 5px;
    padding: 10px 7px;
    text-decoration: none;
    color: #fff;
    background-color: #333;
    margin: 5px
    
}
.esp {
    font-size: large;
    padding: 10px;
    font-family: 'Roboto', sans-serif; }
