.spinner {
    width: 36px;
    height: 36px;
    border: 5px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    border-left-color: #7d47ff;
    position: relative;
    left: 631px;
    bottom: -300px;
    z-index: 1;
    .spinner {
        width: 36px;
        height: 36px;
        border: 5px solid rgba(0, 0, 0, 0.3);
        border-radius: 50%;
        border-left-color: #7d47ff;
    
        animation: spin 1s ease infinite;
        @keyframes spinner {
            0% {
                transform: rotate(0deg);
            }
    
            100% {
                transform: rotate(360deg);
            }
    }
    }
    
}
