.fondobody  {
    background-image: linear-gradient(#9B2FFA, #9F64FA, #C987FA)
}
.fondu {
    background-image: (orange, #EB9E58,#EBA96E,#EBB584)
}
.fonde {
    background-image: linear-gradient(#FACD3E,#DEDA33,#CFDE33,#FAE94E);
}
.fondi{
    background-image: linear-gradient(#F58D73,#DE8A5D,#DE645D);
}